@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

body{
    font-family: 'Convergence', sans-serif;
    background-color: #889bf9;
}

h2{
    font-size: 2,6 rem;
}

class-timer::part(time){
    font-size: 2em;
}

class-timer::part(result){
    font-size: 17px;
    color: #b76b6d;
}

class-timer::part(button),
.adder button {
    width: 100px;
    height: 40px;
    background: transparent;
    color: #384856;
    border: 2px solid #384856;
    border-radius: 5px;
    outline: none;
}

class-timer::part(button):hover,
.adder button:hover{
    background: transparent;
    color: #b76b6d;
    font-weight: 800;
    text-transform: capitalize;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
    text-transform: capitalize;
}

.adder {
    margin-top: 20px;
}